@import '../../../styles';
.detail {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .detail-header {
        margin: 10px auto;
        width: 94%;
        height: 140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        img {
            display: inline-block;
            width: 140px;
            height: 140px;
         }
         & > div {
             margin-left: 20px;
             height: 140px;
             flex: auto;
             text-align: left;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             h3 {
                 font-size: 22px;
                 font-weight: bold;
                 margin-bottom: 0;
             }
             h6 {
                 font-size: 13px;
                 font-weight: 600;
                 margin-bottom: 0;
             }
             p {
                 overflow: hidden;
                 text-overflow: ellipsis;
                 white-space: nowrap;
                 width: 800px;
                 min-width: 800px;
                 margin-bottom: 0;
             }
             button {
                height: 32px;
                width: auto;
                line-height: 18px;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                margin: 10px 10px 10px 0;
                padding: 6px 22px;
                box-sizing: border-box;
                border: 1px solid #dcdfe6;
                background-color: #ffffff;
                cursor: pointer;
                outline: none;
                border-radius: 1px;
                color: #606266;
            }
            button:nth-child(1) {
                position: relative;
                background-color: $baseColor;
                color: white;
                border: 1px solid $baseColor;
                span {
                    width: 100%;
                    height: 100%;
                    background-color: #999;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: .6;
                    i {
                        position: absolute;
                        left: 50px;
                        top: 6px;
                        color: black;
                        font-size: 27px;
                        animation: loading 1s linear infinite;
                    }
                }
            }
            button:hover {
                color: $baseColor;
            }
            button:nth-child(1):hover {
                color: white;
            }
         }

    }
    .detail-list {
        margin: 20px auto;
        position: absolute;
        overflow: auto;
        top: 160px;
        bottom: 120px;
        width: 94%;
        text-align: center;
        table {
            width: 100%;
            tbody tr {
                cursor: pointer;
            }
            tbody tr:hover {
                background-color: beige;
            }
            tbody tr:hover i {
                color: #999;
            }
            tbody tr:hover i:hover {
                color: #31c27c;
            }
            th, td {
                text-align: left;
                height: 42px;
                padding: 8px 20px;
                box-sizing: border-box;
                line-height: 26px;
                overflow: hidden;
            }
            th {
                color: #909399;
                border-bottom: 1px solid rgb(235, 238, 245);
            }
            td {
                color: black;
                border-top: 1px solid rgb(235, 238, 245);
                i {
                    color: transparent;
                    vertical-align: middle;
                }
            }
        }
    }
}