.singer {
    width: 100%;
    text-align: center;
    .singer-title {
        font-size: 18px;
        letter-spacing: 4px;
        text-align: left;
        margin: 0 auto;
        width: 96%;
    }
    .singer-classify {
        width: 96%;
        margin: 20px auto;
    }
    .singer-list {
        width: 96%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px auto;
        .singer-list-item {
            width: 160px;
            height: 160px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: #F0F0F0;
            margin: 0 20px 15px 0;
            cursor: pointer;
            img {
                position: relative;
                width: 110px;
                height: 110px;
                display: inline-block;
                border-radius: 55px;
                transition: all .5s ease-out;
            }
            p {
                margin-bottom: 0;
            }
        }
        .singer-list-item:hover>img {
            transform: rotate(-30deg);
        }
        .singer-list-item:hover>p {
            color: #31c27c;
        }
    }
}