<!-- <div class="avator" *ngIf="!userStore.snapshot.userInfo">
    <img src="assets/img/default-music-pic.jpg" alt="头像">
    <h3 (click)="openLogin()">立即登录</h3>
</div>

<div class="avator" *ngIf="userStore.snapshot.userInfo">
    <img src="{{userStore.snapshot.userInfo.profile.avatarUrl}}" alt="头像">
    <i class="iconfont icon-vip"></i>
    <h4>
      {{userStore.snapshot.userInfo.profile.nickname}}
      <span (click)="logout()">(退出)</span>
    </h4>
</div> -->
  
<div class="nav-wrap">
  <h3 class="nav-title">在线音乐</h3>
  <p class="nav-item" routerLinkActive="active" [routerLink]="['/hall']">
    <span><i class="iconfont icon-musicfill"></i>音乐馆</span>
  </p>
  <p class="nav-item" routerLinkActive="active" [routerLink]="['/mv']">
    <span><i class="iconfont icon-video"></i>MV</span>
  </p>
  <p class="nav-item" routerLinkActive="active" [routerLink]="['/radio']">
    <span><i class="iconfont icon-radio-outline"></i>电台</span>
  </p>

  <h3 class="nav-title">我的音乐</h3>
  <p class="nav-item" routerLinkActive="active" [routerLink]="['/mylike']">
    <span><i style="color: #ff4400" class="iconfont icon-heart1"></i>我喜欢的</span>
  </p>
  <p class="nav-item">
    <span><i class="iconfont icon-musicmenu"></i>试听列表</span>
  </p>
  <p class="nav-item">
    <span><i class="iconfont icon-history"></i>播放历史</span>
  </p>

  <h3 class="nav-title">我的歌单 <i (click)="showSongListEdit = true;" class="iconfont icon-plus2"></i></h3>
  <p class="nav-item songList" [title]="item.name" *ngFor="let item of userStore.snapshot.songList; let i = index;">
    <span><i class="iconfont icon-musicfill"></i>{{item.name}}</span>
  </p>
  <p class="nav-item" *ngIf="showSongListEdit"><input style="padding-left: 10px;" class="form-control form-control-sm" type="text" name="songListName" (keyup.enter)="newSongList()" [(ngModel)]="songListName" placeholder="请输入歌单名称"></p>
</div>
