<div class="sort">

  <h3 class="sort-title">歌单分类</h3>

  <div class="sort-hot">
    <app-classify [data]="hotClassifyList" (changeClassify)="changeClassify($event)"></app-classify>
  </div>

  <h3 class="sort-title">为你推荐歌单</h3>

  <div class="sort-list">
    <div *ngFor="let item of featrueListArray;" (click)="detail(item.id)">
      <img src="{{item.picUrl}}" alt="">
      <div class="mask"></div>
      <span class="playCount"><i class="iconfont icon-headset"></i>{{item.playCount | numberToWan}}</span>
      <span class="play"><i class="iconfont icon-play1"></i></span>
      <p>{{item.name}}</p>
    </div>
  </div>

</div>
