@import '../../../styles';

.music-mask {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  bottom: 0;
  opacity: 0.9;
  background-color: #666666;
  width: 100%;
  transition: all .3s ease-out;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  overflow: hidden;
  .music-list {
    height: 100%;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .music-list-option {
      height: 60px;
      align-self: flex-start;
      a {
        border-radius: 2px;
        font-size: 14px;
        padding: 0 32px;
        height: 38px;
        line-height: 38px;
        margin-right: 20px;
        display: inline-block;
        white-space: nowrap;
        box-sizing: border-box;
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, .2);
        opacity: 0.8;
        color: #fff;
      }

      a:hover {
        opacity: 1;
        filter: none;
        border-color: rgba(255, 255, 255, 1);
      }
    }
    .music-list-wrap {
      flex-grow: 1;
      width: 100%;
      overflow-y: auto;
      margin-bottom: 20px;
      table {
        width: 98%;
        thead tr {
          border-top: 1px solid rgba(255, 255, 255, .2);
          border-bottom: 1px solid rgba(255, 255, 255, .2);
        }
        tbody tr {
          border-bottom: 1px solid rgba(255, 255, 255, .2);
          cursor: pointer;
        }  
        th, td {
          position: relative;
          height: 46px;
          color: rgba(225, 225, 225, 0.8);
          text-align: center;
          font-size: 14px;
          line-height: 46px;
          i {
            vertical-align: middle;
            font-size: 25px;
            margin: 0 10px;
            color: transparent;
            float: right;
          }
          input[type="checkbox"] {
            position: absolute;
            width: 14px;
            height: 14px;
            border: 1px solid whitesmoke;
            top: 17px;
            left: 20px;
          }
  
          //input[type="checkbox"]::before {
          //  content: "\a0";  /*不换行空格*/
          //  display: inline-block;
          //  vertical-align: .2em;
          //  width: .8em;
          //  height: .8em;
          //  margin-right: .2em;
          //  border-radius: .2em;
          //  background-color: silver;
          //  border: 1px solid white;
          //  text-indent: .15em;
          //  line-height: .65;  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
          //}
          //input[type="checkbox"]:checked::before {
          //  content: "\2713";
          //  background-color: yellowgreen;
          //}
        }
  
        
        tbody tr:hover i {
          color: #999;
        }
        tbody tr:hover i:hover {
          color: #31c27c;
        }
      }
    }
    

    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    .music-list-wrap::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      // background-color: rgb(13, 13, 13);
    }

    /*定义滚动条轨道 内阴影+圆角*/
    .music-list-wrap::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: rgb(13, 13, 13);
    }

    /*定义滑块 内阴影+圆角*/
    .music-list-wrap::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #555;
    }
  }

  .music-info {
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    img {
      display: inline-block;
      width: 10rem;
      height: 10rem;
    }

    p {
      margin: 10px 0;
      text-align: center;
      color: rgba(225, 225, 225, .8);
      font-size: 14px;
      line-height: 20px;
      height: 20px;
    }

    .music-lrc-wrap {
      width: 100%;
      height: 20rem;
      overflow: hidden;
      flex-grow: 1;
      margin-bottom: 30px;
      span {
        display: block;
        text-align: center;
        height: 34px;
        font-size: 15px;
        opacity: 0.6;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.music-player {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background-color: $baseColor;

  .music-player-left,
  .music-player-right {
    height: 60px;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    i {
      font-size: 30px;
      font-weight: 100;
      color: white;
      cursor: pointer;
    }
  }

  .music-player-center {
    height: 60px;
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      display: inline-block;
      margin: 0 20px 0 10px;
    }
    .progress-info {
      flex-grow: 1;
      color: white;
      .progress-info-left {
        float: left;
      }
      .progress-info-right {
        float: right;
      }
    }
  }
}

.play-now{
  display: inline-block;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  background-image: url("/assets/img/play.gif");
}

.toUp {
  position: absolute;
  left: 50%;
  top: 0;
  animation: downToUp .7s linear infinite;
  cursor: pointer;
  color: white;
}

.toDown {
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotate(180deg);
  animation: upToDown .7s linear infinite;
  cursor: pointer;
  color: white;
}

@keyframes downToUp {
  0% {
    top: 12px;
    transform: scale(1);
  }

  50% {
    top: 6px;
    transform: scale(1.1);
  }

  100% {
    top: 0;
    transform: scale(1.2);
  }
}

@keyframes upToDown {
  0% {
    top: 0;
    transform: scale(1) rotate(180deg);
  }

  50% {
    top: 6px;
    transform: scale(1.1) rotate(180deg);
  }

  100% {
    top: 12px;
    transform: scale(1.2) rotate(180deg);
  }
}
