@import '../../../styles';
.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $baseColor;
    position: relative;
    .header-option {
        margin-right: 20px;
        i {
            margin: 0 10px;
            font-size: 18px;
            cursor: pointer;
            color: white;
        }
    }
    form.header-search {
        position: relative;
        input {
            outline: none;
            width: 200px;
            height: 32px;
            padding-left: 20px;
            border: none;
            background-color: white;
            border: 1px solid white;
            border-radius: 16px;
            font-size: 14px;
            color: black;
        }
        i {
            position: absolute;
            right: 12px;
            top: 7px;
            font-size: 15px;
            cursor: pointer;
            color: black;
        }
    }
}