<div class="header">
    <div class="header-option">
        <i class="iconfont icon-left" (click)="back()"></i>
        <i class="iconfont icon-right" (click)="ahead()"></i>
        <i class="iconfont icon-refresh" (click)="refresh()"></i>
    </div>
    <form class="header-search">
        <input type="text" name="keyWord" placeholder="搜索音乐、歌单、MV" [(ngModel)]="keyword" (keydown.enter)="searchMusic()">
        <i title="搜索" (click)="searchMusic()" class="iconfont icon-zoom-out"></i>
    </form>
</div>