<div class="music-player">
    <i title="收缩" (click)="showDetail()" class="toDown iconfont icon-upa"></i>
    <i title="展开" (click)="showDetail()" class="toUp iconfont icon-upa"></i>
    <!-- <audio class="audio" [src]="currentMusic?.url" autoplay="autoplay"></audio> -->
    <!-- <div class="music-player-left">
        <i title="上一曲" (click)="previous()" class="iconfont icon-previous"></i>
        <i title="播放" (click)="togglePlay()" style="font-size: 35px;" *ngIf="audioRef.paused" class="iconfont icon-playcircle"></i>
        <i title="暂停" (click)="togglePlay()" style="font-size: 35px;" *ngIf="!audioRef.paused" class="iconfont icon-Pause"></i>
        <i title="下一曲" (click)="next()" class="iconfont icon-next"></i>
    </div>
    <div class="music-player-center">
        <img [src]="currentMusic.songPic ? currentMusic.songPic : 'assets/img/default-music-pic.jpg'" alt="">
        <div class="progress-info">
            <span *ngIf="currentMusic._id" class="progress-info-left">{{currentMusic.songName + '/' + currentMusic.singerName}}</span>
            <span *ngIf="!currentMusic._id" class="progress-info-left">脑残音乐,无所畏惧</span>
            <span *ngIf="currentMusic._id" class="progress-info-right">{{utilsService.formatDate(audioRef?.currentTime) + '/' + utilsService.formatDate(audioRef?.duration)}}</span>
            <span *ngIf="!currentMusic._id" class="progress-info-right">00:00/00:00</span>
            <app-progress [rate]="rate" (changeRate)="change($event)"></app-progress>
        </div>
    </div>-->
    <div class="music-player-right">
        <i title="循环播放" class="iconfont icon-repeat"></i>
        <i title="评论" class="iconfont icon-comment"></i>
        <i title="收藏" class="iconfont icon-heart1" (click)="collectionMusic(currentMusic._id)"></i>
        <i title="播放列表" class="iconfont icon-list" (click)="showPlaylist()"></i>
    </div>
</div>

<app-play-detail [show]="isShowDetail"></app-play-detail>