@import '../../../styles.scss';
.music-player {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    background-color: $baseColor;
    .music-player-left,
    .music-player-right {
        height: 60px;
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        i {
            font-size: 30px;
            font-weight: 100;
            color: white;
            cursor: pointer;
        }
    }
    .music-player-center {
        height: 60px;
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        img {
            width: 60px;
            height: 60px;
            display: inline-block;
            margin: 0 20px 0 10px;
        }
        .progress-info {
            flex-grow: 1;
            color: white;
            .progress-info-left {
                float: left;
            }
            .progress-info-right {
                float: right;
            }
        }
    }
}