@import '../../../styles.scss';

.music-player {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background-color: $baseColor;

  .music-player-left,
  .music-player-right {
    height: 60px;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    i {
      font-size: 30px;
      font-weight: 100;
      color: white;
      cursor: pointer;
    }
  }

  .music-player-center {
    height: 60px;
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;

    .music-player-pic {
      width: 60px;
      height: 60px;
      position: relative;
      margin: 0 20px 0 10px;
      div {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        opacity: .5;
        width: 100%;
        height: 100%;
        display: none;
        i {
          font-size: 25px;
          color: white;
        }
      }
      &:hover div {
        display: flex;
        cursor: pointer;
      }

      img {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }

    .progress-info {
      flex-grow: 1;
      color: white;

      .progress-info-left {
        float: left;
      }

      .progress-info-right {
        float: right;
      }
    }
  }
}